*.o
*.a
*.gcov
*.gcda
*.gcno
proc.out
/src/external/mammut/
/src/external/mammut/*
/src/external/riff/
/src/external/riff/*
/src/external/graphite-c-client/*
/test/googletest/*
/test/*.csv
microbench/check
microbench/ticksPerNs
microbench/voltageTable
microbench/voltageTable.cpp
