[submodule "src/external/mammut"]
	path = src/external/mammut
	url = https://github.com/DanieleDeSensi/mammut.git
[submodule "src/external/orlog"]
	path = src/external/orlog
	url = https://github.com/DanieleDeSensi/orlog.git
